
.card {
        margin-bottom: 20px; 
        }
.card img {
        height: 250px; 
        object-fit: cover; 
        }

.overlay {
        background-image: url(../assets/images/FotoIndex.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh; 
        position: relative;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        }
        
.main-text {
        position: relative;
        color: black;
        z-index: 2;
        text-align: center;
        max-width: 80%;
        }


                
